apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.traefik.io/traefik
    chart: traefik
    targetRevision: 38.0.1
    helm:
      values: |
        service:
          type: ClusterIP
          ports:
            web:
              port: 80
              # targetPort: 30080
              protocol: TCP
            websecure:
              port: 443
              # targetPort: 30443
              protocol: TCP
          # annotations:
          #   tailscale.com/expose: "true"

        ingressClass:
          enabled: true
          isDefaultClass: true

        additionalArguments:
          - "--entrypoints.web.address=:80"
          - "--entrypoints.websecure.address=:443"

          - "--certificatesresolvers.letsencrypt.acme.email=scott@scottyob.com"
          - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
          - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
          - "--certificatesresolvers.letsencrypt.acme.httpChallenge"
          - "--certificatesresolvers.letsencrypt.acme.httpChallenge.entryPoint=web"
          - "--certificatesresolvers.letsencrypt.acme.httpChallenge.delay=20"

        # Enable persistence to store ACME certificates
        # persistence:
        #   enabled: true
        #   path: /data
        #   size: 1Gi
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: traefik-ts
#   namespace: traefik
#   # annotations:
#   #   tailscale.com/expose: "true"
# spec:
#   type: LoadBalancer
#   loadBalancerClass: "tailscale"
#   selector:
#     app.kubernetes.io/instance: traefik-traefik
#     app.kubernetes.io/name: traefik
#   ports:
#     - port: 80
#       targetPort: 30080
#       name: web
#     - port: 443
#       targetPort: 30443
#       name: websecure
