apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: whoami
spec:
  defaultBackend:
    service:
      name: whoami
      port:
        name: http
  ingressClassName: tailscale
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: whoami
# spec:
#   ports:
#     - name: http
#       port: 80
#       targetPort: 80
#   type: ClusterIP
