apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth2-proxy
  namespace: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oauth2-proxy
  template:
    metadata:
      labels:
        app: oauth2-proxy
    spec:
      containers:
        - name: oauth2-proxy
          image: quay.io/oauth2-proxy/oauth2-proxy:v7.6.0
          args:
            - --provider=google
            - --email-domain=*
            - --cookie-domain=home.scottyob.com
            - --upstream=static://200
            - --http-address=0.0.0.0:4180
            - --set-authorization-header=true
          envFrom:
            - secretRef:
                name: oauth2-proxy
